html, body, #app {
  height: 100%;
  font-size: 13px;
  background: $--color-dark;
  color: $--color-text-primary;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
}

* {
  outline: none;
  box-sizing: border-box;
}

blockquote {
  margin: 0;
  font-weight: 500;
  line-height: 2.25;
  padding: 16px 24px;
  border-radius: 6px;
  color: $--color-text-primary-heavy;
  border-left: 6px solid $--color-dark-heavy;
  background: $--color-dark-ligher !important;

  p {
    margin: 0;
  }

  i {
    font-size: 110%;
    vertical-align: -1px;
  }
}

* {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none !important;
}

a {
  text-decoration: none;
  color: $--color-primary;
  transition: ease all .3s;

  &:hover {
    color: $--color-primary-heavy;
  }
}

.mb {
  margin-bottom: 24px;
}

.mx {
  &-r4 {
    margin-right: 4px;
  }
  &-r8 {
    margin-right: 8px;
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-heavy {
    color: $--color-text-primary-heavy;
  }

  &-bolder {
    font-weight: 500;
  }

  &-right {
    text-align: right;
  }

  &-single {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
  }
}

.clear {
  clear: both;
}

.items-center {
  display: flex;
  align-items: center;
}
